{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where To Go</title>

  <!-- 라이브러리 -->
  <!-- <link rel="stylesheet" type="text/css" href='{% static "css/fullpage.min.css" %}' /> -->
  <link rel="stylesheet" type="text/css" href='{% static "css/materialize.min.css" %}' />
  <!-- style  -->
  <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}' />
  <!-- font -->
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">  
</head>

<body>
  <video class="video-test" autoplay loop>
    <source src='{% static "video/main2.mp4" %}' type="video/mp4">
  </video>
  <div class="text-position maintext">
    <h5>오늘 어디가?</h5>
    <div class="main-btn"><a href="{% url 'main:select' %}">start</a></div>
  </div>
  <div class="text-position main-footer">
    Prography 3기 whereToGo 팀
    <br> F : 최인지 / B : 공현정 송경린 / D : 유용환 윤지원
    <br> M : 강민정 김은향 박수현
  </div>


  <script type="text/javascript" src="{ static js/materialize.min.js}"></script>
</body>
</html>