{% load static %}

<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where To Go</title>

  <!-- 라이브러리 -->
  <!-- <link rel="stylesheet" type="text/css" href='{% static "css/fullpage.min.css" %}' /> -->
  <link rel="stylesheet" type="text/css" href='{% static "css/materialize.min.css" %}' />
  <!-- style  -->
  <link rel="stylesheet" type="text/css" href='../../static/css/main.css' />
  <!-- font -->
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
</head>
<body>
    <video class="video-test" autoplay loop>
        <source src='../../static/video/main2.mp4' type="video/mp4">
    </video>
		<div class="text-position result-top">
            <div class="col-box center" >
                    {% for img in result_img %}
                      <div class="col-1 wrap-test">
                      <img src='/static/{{img.url}}' class="result_img" id='{{ forloop.counter }}' alt="" />
                      </div>
                    {% endfor %}
                    
                    <script type="text/javascript">
                      window.onload=()=>{
                        var result_img=document.getElementsByClassName("result_img");
                        // console.log(result_img);
                        var idx=0;
                        var len = result_img.length;

                        for(i=0;i<len;i++){
                          $(result_img[i]).css('display','none');
                          // console.log($(result_img[i]));
                        }
                        $(result_img[idx]).css('display','block');
                        var int=self.setInterval(function(){
                          for(i=0;i<len;i++){
                            $(result_img[i]).css('display','none');
                          }
                          $(result_img[idx]).css('display','block');
                          console.log($(result_img[idx]).css('display'));
                          idx=idx+1;
                          if(idx>=len){
                            idx = idx-len;
                          }
                          console.log(idx);
                        }, 2000);


                      }
                    </script>
                    <p class="white-typo"><b>당신을 위한 여행지는</b>
                    <b> "{{ result_land.country }} 의 {{ result_land.landmark }}" </b>
					<b> 입니다</b></p>

            </div>
        </div>
        <div class="text-position main-footer">
            <p>이런 여행지는 어떠세요?</p>
            <div class="col-box">
              {% for img in similar_img %}
                <div class="col-3 wrap-test-similar"><img src='/static/{{img.url}}'/></div>
              {% endfor %}
            </div>
        </div></div>
</body>
</html>
