{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where To Go</title>

  <!-- 라이브러리 -->
  <!-- <link rel="stylesheet" type="text/css" href='{% static "css/fullpage.min.css" %}' /> -->
  <link rel="stylesheet" type="text/css" href='{% static "css/materialize.min.css" %}' />
  <!-- style  -->
  <link rel="stylesheet" type="text/css" href='../../static/css/main.css' />
  <!-- font -->
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
	<style>
	.wrap-test{
      max-width: 600px;
      max-height: 400px;
      overflow: hidden;
    }
    .wrap-test .wrap{
      max-width: initial;
    }
    .wrap-test-similar{
        max-width: 300px;
        max-height: 200px;
        overflow: hidden;
    }
	</style>
</head>
<body>
    <video class="video-test" autoplay loop>
        <source src='../../static/video/main2.mp4' type="video/mp4">
    </video>
		<div class="text-position result-top">
            <div class="col-box center">
                <div class="col-1 wrap-test">
                    <img src='../../static/image/bg1.jpg' alt="" /></div>
                    <p class="white-typo"><b>당신을 위한 여행지는 " </b>
                    <b> {{ result_land.country }} 의 {{ result_land.landmark }} </b>
					<b>" 입니다</b></p>

            </div>
        </div>
        <div class="text-position main-footer">
            <p>이런 여행지는 어떠세요?</p>
            <div class="col-box">
                <div class="col-3 wrap-test-similar"><img src='../../static/image/bg1.jpg'/></div>
                <div class="col-3 wrap-test-similar"><img src='../../static/image/bg1.jpg'/></div>
                <div class="col-3 wrap-test-similar"><img src='../../static/image/bg1.jpg'/></div>
            </div>
        </div></div>
</body>
</html>
