<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where To Go</title>

  <!-- 라이브러리 -->
  <!-- <link rel="stylesheet" type="text/css" href='{% static "css/fullpage.min.css" %}' /> -->
  <link rel="stylesheet" type="text/css" href='{% static "css/materialize.min.css" %}' />
  <!-- style  -->
  <link rel="stylesheet" type="text/css" href='../../static/css/main.css' />
  <!-- font -->
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">  
</head>
<body>
    <video class="video-test" autoplay loop>
        <source src='../../static/video/main2.mp4' type="video/mp4">
    </video>  
  <div class="col-container">
      <div class="col-box">
        <div class="col-1 wrap-test-2">
          <img src='../../static/image/back_img1.jpg' alt="" />
          <p class="white-typo">나라이름/명소이름</p>
        </div>
      </div>
      <p class="white-typo">비슷한 여행지</p>
      <div class="col-box">
        <div class="col-3"> 
          <div class="wrap-test-similar">
          <img src='../../static/image/back_img1.jpg'/>
          </div>
          <p class="white-typo">나라이름/명소이름</p>
        </div>
        <div class="col-3"> 
           <div class="wrap-test-similar">
           <img src='../../static/image/back_img1.jpg'/>
          </div>
          <p class="white-typo">나라이름/명소이름</p>
        </div>
        <div class="col-3"> 
          <div class="wrap-test-similar">
          <img src='../../static/image/back_img1.jpg'/>
          </div>
          <p class="white-typo">나라이름/명소이름</p>
        </div>
  </div>
</body>
</html>