{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where To Go</title>

  <!-- 라이브러리 -->
  <link rel="stylesheet" type="text/css" href='{% static "css/materialize.min.css" %}' />
  <!-- style  -->
  <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}' />
  <!-- font -->
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
  <style>
    .wrap-test {
      max-width: 400px;
      max-height: 300px;
      overflow: hidden;
    }
    .wrap-test .wrap{
      max-width: initial;
    }
  </style>
</head>

<body>
  <video class="video-test" autoplay loop>
    <source src='{% static "video/main2.mp4" %}' type="video/mp4">
</video>
    <div class="text-position maintext">
                <h5 style="color:aliceblue">마음에 드는 여행지를 고르세요</h5></br></br>
                <div class="col-box">
                    <div class="col-2">
                        <a href="{% url 'main:select' %}?count={{count}}&selected_img={{ img1 }}">
                            <div class="wrap-test"><img src="/static/{{ img1 }}" /></div></a>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'main:select' %}?count={{count}}&selected_img={{ img2 }}">
                            <div class="wrap-test"><img src="/static/{{ img2 }}" /></div></a>
                    </div>
                </div>
                <div class="col-box">
                    <div class="col-2">
                        <a href="{% url 'main:select' %}?count={{count}}&selected_img={{ img3 }}">
                            <div class="wrap-test"><img src="/static/{{ img3 }}" /></div></a>
                    </div>
                    <div class="col-2">
                        <a href="{% url 'main:select' %}?count={{count}}&selected_img={{ img4 }}">
                            <div class="wrap-test"><img src="/static/{{ img4 }}" /></div></a>
                    </div>
                </div>
     </div>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
