<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href='../../static/css/materialize.min.css' />
  <link rel="stylesheet" type="text/css" href= '../../static/css/examples.css' />
  <link rel="stylesheet" type="text/css" href='../../static/css/main.css'>
  <style>
    .wrap-test{
      /* 줄이고 싶은 사이즈를 정합니다. */
      max-width: 400px;
      max-height: 300px;
      /* 잘린 부분을 숨기는 css 예요 */
      overflow: hidden;
    }
    .wrap-test .wrap{
      /* 하라고 되어있는데, 안해도 딱히 상관은 없어 보이네요. 그래도 혹시 모르니까 해둡시다. */
      max-width: initial;
    }
    .wrap-test .wrap img{
      /* 저는 사용한 이미지가 너무커서, 사이즈를 55%만 사용했어요! */
      width: 55%;
    }

  </style>
</head>
<body>
  <div class="wrap-test">
    <div class="wrap">
      <img src="../../static/image/bg1.jpg" alt="test">
    </div>
  </div>
  
</body>
</html>