/* ------------------------------------------------------- */
/* global */

* {
  font-family: 'Nanum Myeongjo', serif;
}

body{
  width: 100%;
  height: 100vh;
}
.blacktest{
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 2;
}

p{
  margin: 0 !important;
}

a{
  color: white;
}

.white-typo {
  color: #fff;
}

.homepage{
  text-decoration: none;
}

/* ------------------------------------------------------- */
/* index.html style */

.video-test{
  height: 100%;
  position: relative;
}
@media (min-width: 1300px) {
  .video-test{
    width: 100%;
    height: auto;
  }
}
.text-position{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.maintext{
  top: 50%;
}
.main-btn{
  bottom: 20%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 56px;
  margin: 0 auto;
}
.main-btn:hover{
  background-color: rgba(255, 255, 255, 0.3);
}


.main-footer{
  bottom: 1%;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 300;
  font-size: 10px;
  width: 100%;
}

/* ------------------------------------------------------- */


/*시작 버튼*/
/* .start_btn{
    background:rgb(84, 188, 206);
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .start_btn:hover{
    background:rgb(186, 225, 231);
    color:rgb(84, 188, 206);
  }
  .start_btn:before,.start_btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(84, 188, 206);
    transition:400ms ease all;
  }
  .start_btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .start_btn:hover:before,.start_btn:hover:after{
    width:100%;
    transition:800ms ease all;
  } */

  /* Style for our header texts
	* --------------------------------------- */
	/* .start_btn{
		top : 50%;
	} */

	/* Centered texts in each section
	* --------------------------------------- */
	/* .section{
		text-align:center;
	} */

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	/* .section{
		background-size: cover;
	} */
	

	/* Defining each section background and styles
	* --------------------------------------- */
	/* #section0{
    background-image: url(../image/travel.jpg);
	} */


/*image table*/
/* .imgTable{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img{
    width:400px;
    height:300px;
}

.result{
    padding-top:30px;
}

#result_img1{
    width:600px;
    height:400px;
}

#result_img2{
    width:300px;
    height:200px;
}

li {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#upperText{
    padding-bottom: 50px;
}

#page_num{
    color: rgb(59, 10, 194);
    font-size: x-large;
    font-weight: bold;
} */